/.clj-kondo/
/.cpcache/
/.lsp/
/.nrepl-port
/dist/*/*/.terraform
/dist/*/*/.clj-kondo/
/dist/*/*/.lsp/
/resources/amiorin/dotfiles_v3/root/.clj-kondo/
/resources/amiorin/dotfiles_v3/root/.lsp/
/.devenv.flake.nix
/.devenv/
