{:deps {amiorin/dotfiles-v3 {:local/root "."}}
 :tasks
 {help {:doc "show detailed help"
        :override-builtin true
        :task (exec 'dotfiles/help)}
  render {:doc "render the dotfiles without installing them"
          :task (exec 'dotfiles/core {:exec-args {:cmd :render}})}
  diff {:doc "render the dotfiles and diff them with the target"
        :task (exec 'dotfiles/core {:exec-args {:cmd :diff}})}
  install {:doc "render the dotfiles and install them"
           :task (exec 'dotfiles/core {:exec-args {:cmd :install}})}
  -tidy {:doc "tidy clojure files"
         :task (do (shell "clojure-lsp clean-ns")
                   (shell "clojure-lsp format"))}
  -test {:doc "run test with clojure"
         :task (apply clojure "-X:test" *command-line-args*)}
  -test:bb {:doc "run test with babashka"
            :extra-paths ["test"]
            :extra-deps {io.github.cognitect-labs/test-runner
                         {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
            :task (exec 'cognitect.test-runner.api/test)
            :exec-args {:dirs ["test"]}
            :org.babashka/cli {:coerce {:nses [:symbol]
                                        :vars [:symbol]}}}}}
