{:paths   ["src" "resources"]
 :deps    {org.clojure/clojure          {:mvn/version "1.12.1"}
           io.github.amiorin/big-config {:git/sha "ab403eaa3b53ae630b483be11e169946a7a3a408"}
           selmer/selmer                {:mvn/version "1.13.1"}
           babashka/fs                  {:mvn/version "0.5.31"}
           babashka/process             {:mvn/version "0.6.25"}}
 :aliases {:dev  {:extra-paths ["test"]}
           :test {:extra-paths ["test"]
                  :extra-deps {io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
                  :main-opts ["-m" "cognitect.test-runner"]
                  :exec-fn cognitect.test-runner.api/test}}}
