{:paths ["bb"]
 :deps  {io.github.amiorin/big-config {:git/tag "0.2.202" :git/sha "7a78e6f"}}
 :tasks {:requires ([core :as core])
         install {:doc "install the dotfiles"
                  :task (do (core/install :dir "dotfiles")
                            (core/git-config :shell))}
         backup {:doc "backup the dotfiles"
                 :task (core/backup :dir "dotfiles")}}}
